body {
    text-align: center;
    color: #000f08;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}

.simposio {
    padding-top: 6.125rem;
    padding-bottom: 2rem;
    text-align: left;
    margin-left: 28%;
    margin-right: 28%;
    
}

h2{
    font-weight: 600;
    font-size: 2.5em;

}
.cuerpo {
    margin-left: 28%;
    margin-right: 28%;
    text-align: justify;
    padding-bottom: 3rem;
}

.cuerpo img{
    width: 100%;
}
p {
    font-size: 1.5em;
}
nav {
    text-align: left;
    padding: 1rem 4rem;
    position: fixed;
    width: 100vw;
}

.icono {
    width: 2rem;
}
 /*falta darle color blanco al icono*/
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
}

.oscuro {
    background-color: #000f08;
    color: #ffffff;
    margin-top: 0 auto;
}

.oscuro a{
    color: #ffffff;
    text-decoration: none;
}


footer {
    padding: 50px;
    margin-top: 75px;
}

footer i {
    margin: 0 0.25em 0.5em 0.25em;
  }